/* html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
} */
*{
  margin:0;
  padding:0;
}
html {
  background-color: rgb(245,245,245);
}
a{
  text-decoration: none;
}
.container {
  margin:80px auto 0 auto;
  max-width: 850px;
}
.nav-auth svg {
  color:white;
}
.nav-auth {
  display: flex;
}
.nav-auth-wrap-icon {
  display: flex;
}
.input-comment::placeholder {
  color:red
}

@media only screen and (max-width: 600px) {
  .container {
    margin:65px auto 0 auto;
  }
}